<section class="container my-5" id="">
    <div class="footer-container row pt-2">

        <footer class="col-7 justify-content-start d-flex ps-0">
            <p class="fecha-footer pt-3 text-muted">JONATAN AMADO @ {{anioActual}}</p>
          </footer>


        <div class="col-5 justify-content-end d-flex pe-0">

          <button (click)="scrollToTop()" class="btn-subir btn btn-sm">
            <i class="flecha-arriba fa-solid fa-arrow-up-long d-inline-block"></i>
          </button>
        </div>
    </div>
</section>
