<section class="row my-5">
  <h2 id="habilidades" class="text-center fs-2 fw-bold">Habilidades</h2>
  <p class="col-lg-8 offset-lg-2 text-center lead w-lg-50">Cuento con algunas caracteristicas que me permiten desempeñarme bien dentro de cualquier entorno de trabajo y poder desarrollar actividades en grupo de forma satisfactoria.</p>

  <ul class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 g-4 pe-0 mt-0">
    <li *ngFor="let habilidad of habilidadList" class="">
      <div class="card">
          <img [src]="habilidad.image" class="card-img-top" alt="..." >
        <div class="">
          <h5 class="mt-2 card-title fw-bold">{{habilidad.name}}</h5>
        </div>
      </div>
    </li>

    <li class="col agregar-proyecto d-flex justify-content-start align-items-center mt-1">
      <i class="ms-0 fa-regular align-bottom justify-content-end fa-plus"></i><span class="agregar">Agregar item</span>
    </li>
  </ul>
</section>
