<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-lg">
      <a class="navbar-brand d-none" href="#">Jonatan Amado</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="acercade">Acerca de mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="estudios">Estudios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="habilidades">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="experiencia">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="." fragment="proyectos">Proyectos</a>
          </li>
        </ul>
        <ul class="align-baseline mb-md-0 mt-5 mt-md-0">
          <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img class="logo-argentina-programa me-3 " src="\assets\img\ar-prog_logo.png" alt="pepe"></a>
          <a href="https://www.linkedin.com/in/jonatan-amado-85084b26b/"><i class="fa-brands fa-linkedin-in fa-lg me-3 pt-1"></i></a>
          <a href="https://github.com/JonMitsurugi"><i class="fa-brands fa-github fa-lg mt-2 me-3"></i></a>
        </ul>
        <a href="" routerLink="/iniciar-sesion" *ngIf="!isLogged"><button class="btn-login btn btn-outline-light" type="">Login</button></a>
        <a href="" *ngIf="isLogged"><button class="btn-login btn btn-outline-light" type="" (click)="onLogOut()">Cerrar Sesión</button></a>
      </div>
    </div>
  </nav>
</header>
