<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-md">
      <a class="navbar-brand d-none" href="#">Jonatan Amado</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Estudios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
        </ul>
        <label class="btn btn-default btn-file cargar-archivo me-2" for="file1">
          Cargar Archivo
          <input type="file" id="file1" class="d-none" name="file" accept=".txt" onchange="showFile1(this)">
        </label>
        <button class="btn btn-outline-light" type="">Login</button>
      </div>
    </div>
  </nav>
</header>
