<section class="row my-5" id="">
  <div class="col-md-8 offset-md-2">
    <h2 id="experiencia" class="text-center fs-2 fw-bold">Experiencia</h2>
    <p class="text-center lead w-lg-50">Estos son los trabajos que me ayudaron a desarrollar mis aptitutes y habilidades.</p>
  </div>

  <ul class="proyecto row row-cols-1 row-cols-lg-2 mx-auto ">
    <hr>
    <li *ngFor="let experiencia of experienciaList" class="experiencia col list-group-item d-flex flex-column justify-content-start">
      <div class="d-flex justify-content-start ms-2">
        <div class="fw-bold mb-1 me-2 fs-5" >
          <a href="">{{experiencia.nombreExp}}</a>
        </div>
        <div class="dropdown" *ngIf="isLogged" >
          <button class="btn btn-light btn-opciones btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item"  routerLink="/editarexperiencia/{{experiencia.id}}"><i class="fa-solid fa-pen me-2"></i>Editar</a>
            <a class="dropdown-item borrar" (click)="borrar(experiencia.id)"><i class="fa-solid fa-trash-can me-2"></i> Borrar</a>
          </div>
          <!-- <button *ngIf="isLogged" class="btn btn-light" routerLink="/editarexperiencia/{{experiencia.id}}">Editar</button>
          <button *ngIf="isLogged" class="btn btn-danger" (click)="borrar(experiencia.id)">Borrar</button> -->
        </div>
      </div>
      <small ngPreserveWhitespaces class="periodo-estudio ms-2"><time>{{experiencia.fechaInicioExp}}</time> - <time>{{experiencia.fechaFinExp}}</time></small>
      <small class="small ms-2 mb-1">{{experiencia.rolExp | uppercase}}</small>
      <div class="ms-2 mb-1">{{experiencia.descripcionExp}}</div>
    </li>

    <a class="agregar-item-link" href="" type="button" (click)="open()" *ngIf="isLogged" data-bs-toggle="modal">
    <!-- <a class="agregar-item-link" href="" role="button" routerLink="/nuevaexperiencia" *ngIf="isLogged"> -->
      <li class="ms-0 mt-2 mt-md-1 list-group-item d-flex justify-content-start agregar-proyecto align-items-center">
      <!-- <li class="col list-group-item d-flex flex-column justify-content-start align-items-start agregar-proyecto"> -->
            <i class="ms-1 fa-regular align-bottom justify-content-end fa-plus"></i><span class="agregar">Agregar item</span>
      </li>
    </a>
  </ul>

</section>


