/* You can add global styles to this file, and also import other style files */


html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif !important;
  color: #212529;
  margin: 0;
  padding: 0;
  /* background-color: #f6f8fa; */
  background-color: #fff;
}

.hero {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
}

a {
  color: #212529;
  text-decoration: none;
}

a .nav-link{
  color: #fff !important;
  z-index: 101;
}

/* bootstrap */
.subtitulo {
  font-size: 1.7rem;
  font-weight: 400;
}

section:not(:first-of-type) {
  margin-top: 2em !important;
}

ul {
  padding: 0 ;
}

.proyecto > li {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #7777;
  padding: 0.5rem 1rem;
}

li {
  list-style: none;
  pointer-events: auto;
}

.estudios-list > li {
  display: inline;
}


.navbar-toggler-icon {
  border-color: #fff ;
}

/* Tarjetas */
.card {
  border: none;
}

.card-proyecto {
  height: auto !important;
}

.card-img-container {
  height: 200px;
}

.card-img-top {
  height: 100% !important;
  width: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

/* Barra de Desplazamiento */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(226, 223, 223);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8b3b3;
}

hr {
  width: 100% !important;
  margin: 0;
  padding-left: 10px;
  border-color: #212529;
}

.imagen-estudio {
  width: 300px;
}

.imagen-estudio > img {
  height: 4em;
  margin-bottom: 0.2em;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

small {
  display: block;
}
/* label */
.cargar-archivo {
  color: #fff ;
  border: 1px solid #fff ;
}
.cargar-archivo:hover, .cargar-archivo:active:hover {
  color:#212529 ;
  border: 1px solid #212529 ;
  background-color: #fff ;
}

/* Pildoras */
.badge {
  margin-left: 5px ;
}

.html-pill {
  background-color: #f06529;
}

.angular-pill {
  background-color: #dd1b16;
}

.sql-pill {
  background-color: #00758F;
}

.agregar-proyecto {
  /* margin: 1rem; */
  min-height: 8rem;
  padding: 1rem;
  /* outline: 2px dashed #999; */
  /* outline-offset: -1rem; */
  border-radius: 1.5rem !important;
  /* border: none !important; */
  border: 1rem solid #fff !important;
  /* background-color: #efefef; */
  /* transition: background 2s; */
  /* box-shadow: inset 0px 0 0 1.5rem white; */
  background-clip: content-box;
  background: linear-gradient(90deg, rgba(208,230,233,1) 2%, rgba(255,255,255,1)90%);
  /* background: linear-gradient(90deg, rgba(173,200,204,1) 2%, rgba(255,255,255,1)90%); */
  position: relative;
}

.agregar-proyecto:after {
  /* box-shadow: inset 0 0 0 1rem white; */
  content: '';
  position: absolute;
  border-radius: .5rem !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgb(142, 225, 228) 2%, rgba(255,255,255,1) 95%);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.agregar-proyecto:hover:after {
  outline: none;
  cursor: pointer;
  /* outline: 1.5px dashed #89cdf5; */
  /* background:red; */
  opacity: 1;
  z-index: 0;
  color: #212529;


}
.estudios > .agregar-proyecto {
  min-height: 16rem;

}

.fa-plus {
  font-size: 1.5rem;
  color: #777;
  /* background-color: #89cdf5 ; */
  /* border:  1px solid #fff; */
  /* border-radius: 50%; */
  padding: 0.25em;
  z-index: 299;
  position: relative;
}

.fa-plus:hover {
  /* font-size: 2rem; */
  /* color: #89cdf5; */
  /* background-color: #fff ; */
  /* border:  1px solid #89cdf5; */
  /* border-radius: 50%; */
  padding: 0.25em;
  cursor: pointer;
  z-index: 299;
}

.agregar {
  color: #777;
  font-size: 1.2em;
  z-index: 300;
  position: relative;
  display: inline-block;
  cursor: pointer;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.sesion-form {
    /* min-width: 300px; */
    width: 340px;
    margin-top: 100px;
    /* padding-top: 100px; */
    background-color: #fff;
}

.password-container {
  position: relative;
}

.text-danger {
  font-size: 0.8em;
  padding-top: 0.4em;;
}

.fa-eye , .fa-eye-slash {
color: rgb(151, 179, 202);
font-size: 1.2em;
position: absolute;
z-index: 200;
    top: 40px;
    /* right: 60px; */
    left: 259px;
    cursor: pointer;
}

.fa-eye-slash {
  left: 258px;
}

.ingresar-sesion-boton:disabled {
  background-color: #cac8c8;
  border: #cac8c8;
}

.background-sesion {
  height: 100vh;
  width: 100%;
  background-image: url(assets/img/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  background-size: cover;
}

.is-invalid {
  background-image: none !important;
}

#InputPassword::content {
  background-color:#fff;
}

.experiencia:hover {
  box-shadow: -10px 0 0 0 #451869 !important;
  background-color: #fff;
}

.foto-cara {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-color: #451869;
  display: inline-block;
  /* margin-bottom: 1em; */
}


.fa-brands {
  color: #fff;
  font-size: 30px;
  padding-top: 10px;;
}

.agregar-item-link {
  margin: 0;
  padding: 0;
}

.dropdown-toggle::after {
  content: none;
}
.fa-trash-can {
  color: #b8130e;
}
.borrar {
  color: #b8130e;

}
.borrar:hover {
  background-color: #f0e1e1;
  color: #b8130e;
  cursor: pointer;
}
.dropdown-item:hover{
  border-radius: inherit;
}
.dropdown-item {
  width: auto;
  margin: 0 .4em;
  padding-left: .4em;
  /* padding: 8.5px !important; */
}
.dropdown-menu {
  width: 100px;
}

.btn-opciones {
  color: #777;
  background-color: rgba(208,230,233,1);
  transition: background-color .2s;
  border:none
}

.btn-opciones:hover {
  background-color: rgb(142, 225, 228);
  border: none;
}

.toast {
  height: 3rem;;
}

.btn-cerrar {
  background-color: rgb(204, 49, 49);
  transition: background-color .2s;
  border:none;
  color:#f0e1e1;
}
