/* You can add global styles to this file, and also import other style files */


html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik', sans-serif !important;
  color: #212529;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  /*3.background-color: #fff;*/

}



h1 {
  color: #fff;
}

a {
  color: #212529;
  text-decoration: none;
}

a .nav-link{
  color: #fff !important;
  z-index: 101;
}

/* bootstrap */
.subtitulo {
  font-size: 1.7rem;
  font-weight: 400;
}

section:not(:first-of-type) {
  margin-top: 2em !important;
}

ul {
  padding: 0 ;
}

.proyecto > li {
  border-right: none;
  border-left: none;
  border-top: none;
  /* border-bottom: 1px solid #7777; */
  padding: 1em 1rem;
}

li {
  list-style: none;
  pointer-events: auto;
}




.navbar-toggler-icon {
  border-color: #fff ;
}

/* Tarjetas */
.card {
  border: none;
}

.card-proyecto {
  height: auto !important;
}

.card-img-container {
  height: 200px;
}

.card-img-top {
  height: 100% !important;
  width: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

/* Barra de Desplazamiento */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(66, 65, 65);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666363;
}

hr {
  width: 100% !important;
  margin: 0;
  padding-left: 10px;
  border-color: #212529;
}

.imagen-estudio {
  width: 300px;
}

.imagen-estudio > img {
  height: 4em;
  margin-bottom: 0.2em;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

small {
  display: block;
}
/* label */
.cargar-archivo {
  color: #fff ;
  border: 1px solid #fff ;
}
.cargar-archivo:hover, .cargar-archivo:active:hover {
  color:#212529 ;
  border: 1px solid #212529 ;
  background-color: #fff ;
}



.sesion-form {
    /* min-width: 300px; */
    width: 340px;
    margin-top: 100px;
    /* padding-top: 100px; */
    background-color: #fff;
}

.password-container {
  position: relative;
}

.text-danger {
  font-size: 0.8em;
  padding-top: 0.4em;;
}

.fa-eye , .fa-eye-slash {
color: rgb(151, 179, 202);
font-size: 1.2em;
position: absolute;
z-index: 200;
    top: 40px;
    /* right: 60px; */
    left: 259px;
    cursor: pointer;
}

.fa-eye-slash {
  left: 258px;
}

.ingresar-sesion-boton:disabled {
  background-color: #cac8c8;
  border: #cac8c8;
}

.background-sesion {
  height: 100vh;
  width: 100%;
  background-image: url(assets/img/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  background-size: cover;
}

.is-invalid {
  background-image: none !important;
}

#InputPassword::content {
  background-color:#fff;
}

ul {
  gap: 0px 5px;
  align-content: flex-start;
}



.foto-cara {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background-size: contain;
  display: inline-block;
  position: relative;
}


.fa-brands {
  color: #fff;
  font-size: 30px;
  padding-top: 10px;;
}

.toast {
  height: 3rem;;
}

.btn-cerrar {
  background-color: rgb(204, 49, 49);
  transition: background-color .2s;
  border:none;
  color:#f0e1e1;
}

.modal-pepe {
  display: block !important;
}

.toast {
  bottom: 30px;
  left: 200px;

}
.img-habilidad {
  height: 5em;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}
.progress {
  border-radius: 4px;
  height: .8em;
}
.progress-bar {
  background: rgb(22,151,181);
/* background: linear-gradient(86deg, rgba(22,151,181,1) 60%, rgb(12, 183, 206) 90%); */
}

.btn-perfil {
  border-radius: 50% 50%;
  display: inline-block;
  height: 4em;
  width: 4em;
  position: absolute;
  right: -20px;
  bottom: -10px;
}

.text-danger {
  font-size: 14px;
}
.titulo {
  font-size: 2.2em;
  font-weight: bold;
}

.info {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.2em;
}

/** ITEM DE LISTAS */
.container-grid {
  display: grid;
  gap: 1.5em 1.5em;
}

@media (min-width: 992px) {
  .container-grid {
    grid-template-rows: minmax(173px,100%);
    grid-template-columns: repeat(2, 1fr);
  }
}

.item-lista {
  transition: all linear .1s;
  border-radius: 6px !important;
  padding: 1em 1rem;
  background-color: #fff;
}

.item-lista:hover {
  box-shadow: 0 3px 0 0 #6d8585, 2px 0 0 0 #cfcfcf, -2px 0 0 0 #cfcfcf ;
}

@media (min-width: 992px) {
  .item-lista {
    margin-bottom: 0;
  }
}

.titulo-item {
  width: fit-content;
  max-width: 70%;
  display:inline-block;
  font-size: 1.6em;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 0;
}

time {
  font-size: 1.2em;
}

.descripcion-item {
  font-family: 'Merriweather', sans-serif ;
}

/** Botón Dropdown de Edición*/
.dropdown {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: top;
}
.dropdown-toggle::after {
  content: none; /*Esconde la flecha del dropdown*/
}

.btn-edicion {
  color: #777;
  background-color: rgba(208,230,233,1);
  transition: background-color .2s;
  border:none;
  display: inline-block;
}

.btn-edicion:hover {
  background-color: rgb(142, 225, 228);
}

.dropdown-menu {
  width: 100px;
}

.dropdown-item:hover{
  border-radius: inherit;
}

.dropdown-item {
  width: auto;
  margin: 0 .4em;
  padding-left: .4em;
}

.opcion-borrar {
  color: #b8130e;

}
.opcion-borrar:hover {
  background-color: #f0e1e1;
  color: #b8130e;
  cursor: pointer;
}
.fa-trash-can {
  color: #b8130e;
}


/** Botón Añadir Item*/
.container-añadir-item {
  padding: 1rem;
  border: 2px dashed rgb(165, 169, 170)!important;
  border-radius: 5px !important;
  background-color: inherit;
  transition: border .2s;
  min-height: 173px;
}
@media (min-width: 576px) {
  .container-añadir-item {
    min-height: 173px;
    height: 100%;

  }
}
@media (min-width: 992px) {
  .container-añadir-item {
    min-height: 173px;
    height: 100%;
  }
}

.container-añadir-item:hover {
  border: 2px dashed #116979 !important;
  background-color: inherit;
}

.btn-añadir-item {
  background-color: none;
  color: #666969;
  padding: 0.5em;
  border-radius: 5px;
  transition: all .2s;
}

.btn-añadir-item:hover {
  background-color: rgba(208,230,233,1);
  color: #116979;
  padding: 0.5em;
  border-radius: 5px;
}

.fa-plus {
  font-size: 18px;
  color:inherit;
  z-index: 299;
  position: relative;
}





/*NAVBAR*/
.navbar {
  background-color: #212529 !important;
}
.nav-link{
  color: rgba(255, 255, 255, .75) !important;
  transition: color .2s;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}

ul a i{
  color: rgba(255, 255, 255, .75) !important;
  transition: color .2s;
}

ul a i:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.logo-argentina-programa {
  height: auto;
  width: 36px;
  display: inline-block;
  vertical-align: top;
  opacity: .75;
  transition: opacity .2s;
}

.logo-argentina-programa:hover {
  opacity: 1;
}

.btn-login {
  border-color: rgba(255, 255, 255, .75) ;
  color: rgba(255, 255, 255, .75);
  transition: all .2s;
}

/*HERO*/
.hero {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nombre-persona {
  /* font-family: 'Merriweather', sans-serif; */
}

/*ESTUDIOS*/
.lugar-estudio {
  font-size: 1.4em;
  /* color:#116979 ; */
}

/*HABILIDAD*/
@media (min-width: 576px) {
  .habilidad-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (min-width: 992px) {
  .habilidad-grid {
    grid-template-rows: minmax(173px,100%);
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

/*EXPERIENCIA*/
.rol-experiencia {
  font-size: 1.1em;
  color:#116979 ;
}

/*PROYECTOS*/
h3 a:hover {
  color:#116979;
  text-decoration: underline;
  text-decoration-color: #116979;
  text-decoration-thickness: 2px ;
}

.tipo-proyecto {
  font-size: 1.2em;
  font-style: italic;
}

/*FOOTER*/
.footer-container {
  border-top: 2px solid rgb(165, 169, 170);
  align-items: center;
}

.fecha-footer {
  max-width: 100%;
  display: inline-block;
}

.btn-subir {
  border-radius: 5px;
  padding: .2em ;
  height: 2.5em;
  width: 2.5em;
  font-size: 1.2em;
  color: #666969;
}

.btn-subir:hover {
  color: #116979;
  background-color: rgba(208,230,233,1); ;
}
.btn-subir:active {
  color: #116979 ;
  background-color: rgb(154, 204, 211) !important;
  border: none;

}
